body,html{
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Franklin Gothic Medium';
    font-weight: 1000;
    color: whitesmoke;
    background-color: $color6;


}
audio {
    justify-content: flex-end;
    margin: 50px;
}
