@mixin content__card{
    width: 75%;
    height:25%;
    margin:20px;
    border: 10px solid black;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    // box-shadow: 1rem 1rem 0.5rem #3d3d3d ;
    transition:box-shadow 1s;
    
}