@import "./fonts.scss";
@import "./colors.scss";
@import "./body.scss";
@import "./content__card.scss";
@import "./card__pic.scss";
@import "./card__album.scss";
@import "./album__name.scss";
@import "./album__description.scss";