.footer{
    background-color:$color7;
    font-family: 'Trebuchet MS';
    height: 10%;
    width: 100%;
    display: flex;
    position:fixed;
    bottom:0;
    justify-content: center;
    

    
    
}