.header{
    background-color:$color7;
    height: 20%;
    width: 100%;
    display: flex;
    position: fixed;
    justify-content: center;
    z-index: 1;   //for restrictin growing image over our header   
}