.sidebar{
    background-color:#4b4b4b;
    font-family:inherit;
    height: 80%;
    width: 15%;
    display: flex;
    flex-direction: column;
    position: fixed;
    top:122;
    //align-items: center;
    &__search{
        margin-top:20%;
        margin-left:10%;
        margin-right:10%;
        cursor: pointer;
        height: 30px;
        border:2px solid #1DB954;
        background-color: darkgray;
         
    }
    &__nav{
        margin-left: -40px;
        display: flex;
        height: 40%;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;

        &__link{
            font-size: 18px;
            cursor: pointer;
           
        }
    }

}